<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1>Blog LOL</h1>
    <p class="lead">Este blog tem como centro os duelistas Yasuo e Irelia.</p>
    <a class="btn btn-lg btn-primary" routerLink="/home" routerLinkActive="active" role="button">⇦ Voltar para home</a>
  </div>

<h1>O LoL Duelistas é um blog dedicado aos mestres da espada em League of Legends, com foco especial em Yasuo e Irelia. Aqui você encontrará:</h1>

<p>⚔ Guias de Yasuo e Irelia – Builds otimizadas, combos avançados e estratégias para dominar o Rift.
🌀 Dicas de Mecânica – Aprenda a maximizar o dano, se movimentar com precisão e vencer qualquer matchup.
🏆 Meta e Atualizações – Fique por dentro das mudanças que afetam Yasuo e Irelia a cada patch.
🎥 Jogadas e Highlights – Análises de partidas, jogadas incríveis e conteúdo da comunidade.
Se você busca aperfeiçoar suas habilidades com esses duelistas, o caminho da lâmina começa aqui! 🔥</p>