<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Blog LOL</h1>
        <p class="lead my-3">Um blog voltado para o jogo League Of Legends e seus personagens...</p>
        <p class="lead mb-0"><a routerLink="/post-list" class="nav-link text-body-emphasis fw-bold">Continue vendo sobre...</a></p>
    </div>
</div>

<h2 class="display-5 link-body-emphasis mb-1">Introdução ao LoL</h2>
<p class="blog-post-meta">1 de Março, 2025 <a href="home">Victor</a></p>
<p>Este blog mostra diferentes tipos de conteúdos sobre bonecos do jogo League of Legends.</p>
<hr>
<p>League of Legends é um jogo de estratégia em que duas equipes de cinco poderosos Campeões se enfrentam para destruir
    a base uma da outra. Escolha entre mais de 140 Campeões para realizar jogadas épicas, assegurar abates e destruir
    torres conforme você luta até a vitória.</p>
    <h2>Sobre o jogo</h2>
    <p>O jogo tem como base uma competitividade absurda vinda desde os primórdios do lançamento do jogo, em 27 de outubro de 2009.</p>